p {
	color: green;
}

div {
	padding: 10px;
	border: 1px solid black;
}

.function {
	background-color: aliceblue;
}

.return {
	background-color: aqua;
}

.expression {
	background-color: azure;
}

.array {
	background-color: bisque;
}

.variable {
	background-color: aquamarine;
}

.object {
	background-color: burlywood;
}

.logic {
	background-color: coral;
}

.regex {
	background-color: red;
}