{% extends 'analyzer/base.html' %}
{% load static %}
{% load display_parsed %}

{% block content %}
<p>Here is your javascript structure:</p>
{% if obj %}
<div id="fileContainer">
	{% autoescape off %}
	{% for item in obj %}
		{{ item|display }}
	{% endfor %}
	{% endautoescape %}
</div>
{% else %}
<p>Error parsing your file.</p>
{% endif %}
{% endblock %}

{% block script %}
{% if obj %}
	<script src="{% static 'analyzer/display.js' %}"></script>
	<script>
	display({{obj}})
	</script>
{% endif %}
{% endblock %}
